.top-heading-firewall {
  position: relative;
  top: -140px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 27px;
  font-family: "Raleway", sans-serif;
  color: white;
  z-index:2;
  text-align:center;
}

.content-section-firewall {
  width:80%;
  margin: 0 auto;
  margin-top:40px;
  }
.firewall-1{
  display:flex;
  gap:30px;
  margin-bottom:100px;

}

.firewall-top{
  width:50%;

margin-bottom:5%;
line-height:24px;
}




.images-2 {
  height: 200px !important;
  width: 50% !important;
  background: linear-gradient(to left, rgba(2, 36, 91, 1) 0%, rgba(2, 36, 91, 0) 100%), url('https://atcinfocom.in/assets/img/career2.avif') top left no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat:no-repeat!important;
  background-attachment:fixed !important;
  object-fit:cover !important;
  

}
.firewall-bottom{
  display:flex;
  gap:30px;
}
.firewall-features{
  width:50%;
  text-align:justify;
  margin-bottom:5%;
  line-height:24px;
}
.firewall-features ul{
  margin-left:20px;
}
.firewall-features hr, .firewall-top hr{
  margin-bottom:25px;
}
.firewall-top hr{
  margin-top:5px;
}
.firewall-features h3{
  font-size:24px;
}
.firewall-top h2{
  font-size:35px;
  word-spacing:1px;
  line-height:24px;
}



.images-3 {
  height: 200px !important;
  width: 50% !important;
  background: linear-gradient(to left, rgba(2, 36, 91, 1) 0%, rgba(2, 36, 91, 0) 100%), url('https://atcinfocom.in/assets/img/career2.avif') top left no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat:no-repeat!important;
  background-attachment:fixed !important;
  object-fit:cover !important;
  
}
@media (max-width: 768px) {
  .top-heading-firewall {
    font-size: 20px; /* Adjust font size for mobile */
    top: -80px; /* Adjust top position */
  }

  .content-section-firewall {
    width: 90%; /* Adjust width for mobile */
    margin-top: 20px; /* Adjust margin for mobile */
  }

  .firewall-1, .firewall-bottom {
    flex-direction: column; /* Stack columns vertically */
    gap: 20px; /* Adjust gap for mobile */
  }

  .firewall-top, .firewall-features {
    width: 100%; /* Make elements full width on mobile */
  }

  .images-2 {
    height: 200px !important; /* Adjust height for mobile */
    width: 100% !important; /* Make image 8 full width on mobile */
  }

  .images-3 {
    display: none; /* Hide image 9 on mobile */
  }
}
