.top-heading-mobilesignalbooster {
  position: relative;
  top: -140px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 27px;
  font-family: "Raleway", sans-serif;
  color: white;
  z-index: 2;
  text-align: center;
}

.content-section-mobile {
  display: flex;
  flex-direction: column;
 
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.content-section-mobile h2 {
  font-weight: 1200;
  font-size: 40px;
}
.mobile-para1{
  margin-bottom:150px;
}

.mobile-para1,
.mobile-para2 {
   width:50%;
  text-align: justify;

  line-height: 24px;
}
.mobile-para2{
  margin-left:auto;
}
.mobile-para2 h3{
  font-size:24px;
}


.mobile-para1 hr,
.mobile-para2 hr {
  width: 50%;
  margin-bottom: 30px;
  align-items: center;
  margin-top: 5px;
  font-size: 30px;
}

.mobile-para2 ul {
  margin-left: 20px;
}




@media (max-width: 768px) {
  .top-heading-mobilesignalbooster {
    font-size: 20px;
    top: -80px;
  }

  .content-section-mobile {
    width: 90%;
    margin-top:20px;
  }

  .content-section-mobile h2 {
    font-size: 30px;
  }

  .mobile-para1,
  .mobile-para2 {
    width: 100%;
  }

  .mobile-para1 hr,
  .mobile-para2 hr {
    width: 60%;
  }

  .mobile-para2 ul {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .top-heading-mobilesignalbooster {
    top: -80px;
    
    
    font-size: 20px;
    
  }

  .content-section-mobile h2 {
    font-size: 24px;
  }

  .mobile-para1 hr,
  .mobile-para2 hr {
    width: 70%;
  }
}
