* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
   color:#444444;
  
}
html, body, #root {
 
 
  background-color: #EEE9E9; /* Set the desired background color */
}
html {
  margin: 0;
}
@media (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
 
}